<div id="container">
  <div id="head">
    <img [src]="src_img" alt="" />
    <div id="name-time-container">
      <div id="name">{{post["user"]["firstname"]}} {{post["user"]["lastname"]}}</div>
      <div id="time">
        <!--<i class="far fa-clock"></i>-->
        {{ time }}
      </div>
    </div>
  </div>
  <div id="separator"></div>
  <div id="content-container" >
    <div id="content" [innerHtml]="post['content'] | safeHtml">

    </div>
    <img [src]="'https://projectendgame.s3.us-east-2.amazonaws.com/'+post['photoKey']" *ngIf="post['type']=='photo'" />

  </div>
 <!--- <div id="separator"></div>
  <div id="commentator-container">
    <div class="commentator">
      <img [src]="src_img" alt="" />
      <div class="block-comment">
        <div class="name">
          Kamal Ait Sidhoum
        </div>
        <div class="text">
          This is the comment !
        </div>
      </div>
    </div>
    <div class="commentator">
      <img [src]="src_img" alt="" />
      <div class="block-comment">
        <div class="name">
          Kamal Ait Sidhoum
        </div>
        <div class="text">
          This is the comment !
        </div>
      </div>
    </div>
    <div class="commentator">
      <img [src]="src_img" alt="" />
      <div class="block-comment">
        <div class="name">
          Kamal Ait Sidhoum
        </div>
        <div class="text">
          This is the comment !
        </div>
      </div>
    </div>

  </div>-->
  <div id="comment">
    <quill-editor
    format="html"
    theme="bubble"
    placeholder="Write a comment..."
  ></quill-editor>
  <div id="comment-btn">
    <i class="fas fa-paper-plane"></i>
  </div>
  </div>


  <div id="like-container">
    <div (click)="toggleLike()" [ngStyle]="{'color': isLiked ? '#5d4e8e' : 'black' }"><i class="fas fa-thumbs-up m-2"></i>{{post["numLikes"]}}</div>
  </div>

</div>

