<p>Please enter your Email to reset the password</p>
<form class="register-form">

<mat-form-field class="example-full-width w-100">
    <mat-label>Email</mat-label>
    <input matInput
           placeholder="Ex endgame@example.com" [formControl]="email" [errorStateMatcher]="matcher" required >
          <mat-error *ngIf="email.invalid">
            Email must be valid
          </mat-error>
  </mat-form-field>

  <button
  mat-raised-button
  color="primary"
  class="mt-3"
  [disabled]="isLoading"
  type="submit"
  (click)="send()"
>
  <span *ngIf="!isLoading">Send Password</span>
  <div *ngIf="isLoading" class="spinner-container">
    <div class="spinner">
      <div></div>
      <div><div></div></div>
    </div>
  </div>
</button>
</form>