<div id="container">
  <div id="brand">
    BRAND
  </div>
  <div id="photo-container">
    <div id="photo">
      <img src="../../../../assets/blank-profile-picture.png" />
    </div>
  </div>
  <div id="name-user">Kamal Ait Sidhoum</div>
  <div id="list-container">
    <div
      class="item"
      [routerLink]="[{ outlets: { my: ['feed'] } }]"
      [routerLinkActive]="['active']"
    >
      <i class="fas fa-rss"></i>
      <div>My Feed</div>
      <div class="indicator"></div>
    </div>
    <div
      class="item"
      [routerLink]="[{ outlets: { my: ['profil'] } }]"
      [routerLinkActive]="['active']"
    >
      <i class="fas fa-address-card"></i>
      <div>Modify my Profil</div>
      <div class="indicator"></div>
    </div>
    <div
      class="item"
      [routerLink]="[{ outlets: { my: ['search'] } }]"
      [routerLinkActive]="['active']"
    >
      <i class="fas fa-search"></i>
      <div>Search a friend</div>
      <div class="indicator"></div>
    </div>
    <div (click)="logout()" class="item">
      <i class="fas fa-sign-out-alt"></i>
      <div>Logout</div>
    </div>
  </div>
</div>
